* {
  font-family: 'Oxygen', sans-serif;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.homepage-header-background {
  width: 100%;
  background-color: cornflowerblue;
  align-items: center;
}

.homepage-header {
  margin: 2em 2em;
  color: white;
}

.homepage-background {
  width: 100%;
  height: 100vh;
  background-color: #e0e9fb;
  align-items: center;
}

.homepage-text {
  margin: 2.5em 4em;
  font-size: 18px;
  color: black;
}

.homepage-text input {
  width: 100%;
  padding: 5px 5px;
  border: solid 1px #cccccc;
  border-radius: 5px;
}

.courseList div {
  clear: both;
  float: left;
  cursor: pointer;
}

.schedule-background {
  background-color: #e0e9fb;
}

.schedule {
  overflow: auto;
  margin: 0 3em;
}

table {
  width: 80%;
  margin: 3em auto;
}

thead th {
  font-size: 16px;
  letter-spacing: 2px;
  background: rgb(75, 77, 77);
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 3px solid white;
  margin-bottom: 5px;
}

th, td {
  padding: 10px 20px;
  font-size: 18px;
  text-align: left;
}

.invalidURL {
  font-size: 18px;
  color: red;
  text-align: center;
}
